.c-tab-nav {
  margin-left: 0;
  padding-left: 0;
  margin-top: 20;
  list-style: none;
  border-bottom: 1px solid rgba(61, 70, 77, 0.1); }

.c-tab-nav__tab {
  display: inline-block;
  margin-bottom: -1px;
  color: #7b8994; }
  .c-tab-nav__tab + .c-tab-nav__tab {
    margin-left: 16px; }
  .c-tab-nav__tab a, .c-tab-nav__tab scooter_button {
    display: inline-block;
    padding: 0;
    padding-bottom: 8px;
    border: 0;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: transparent;
    color: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    cursor: pointer; }
    .c-tab-nav__tab a:hover, .c-tab-nav__tab a:focus, .c-tab-nav__tab scooter_button:hover, .c-tab-nav__tab scooter_button:focus {
      text-decoration: none;
      outline: 0;
      color: #3d464d;
      border-bottom-color: currentColor; }
  .c-tab-nav__tab.is-active a, .c-tab-nav__tab.is-active scooter_button {
    font-weight: 600;
    color: #1787E0;
    border-bottom-color: currentColor; }

    .c-modal-overlay {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 32px;
      background-color: rgba(61, 70, 77, 0.6);
      z-index: 1000000;
     }

    .c-modal {
      overflow: scroll;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 640px;
          -ms-flex: 1 1 640px;
              flex: 1 1 640px;
      max-width: 640px;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(37, 40, 43, 0.1);
      background-color: white; }

    .c-modal__title,
    .c-modal__header {
      z-index: 3;
      padding: 16px 32px;
      box-shadow: 0 1px 1px rgba(37, 40, 43, 0.1);
      background-color: white; }
      .c-modal--unibody .c-modal__title, .c-modal--unibody
      .c-modal__header {
        padding-bottom: 0;
        box-shadow: none; }
      .c-modal__title h2,
      .c-modal__header h2 {
        margin-bottom: 0; }

    .c-modal__content {
      z-index: 2;
      padding: 32px;
      background-color: #f7f9fa; }
      .c-modal--unibody .c-modal__content {
        background-color: white; }

    .c-modal__banner {
      box-shadow: inset 0 1px 0 rgba(37, 40, 43, 0.1); }

  .mt-20 {
    margin-top: 20px;
  }

  .center-text {
    text-align: center;
  }

  .subheader {
    margin-top: -20px;
  }


.bookrow {
  display: flex;
}

.book {
  flex: 1;
  position:relative;
  border: 2px solid #1787E0;
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 250px;
  min-width: 200px;
  max-height: 300px;
  max-width: 400px;
}

.book-title {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.book-author {
  margin-top: -25px;
  margin-left: 10px;
}

.book-description {
  margin-left: 10px;
  margin-right: 10px;
}

#book-circle {
  background-image: url('images/circle.png');
  height: 50px;
  width: 50px;
}

#book-circle:hover {
  background-image: url('images/circle_highlight.png');
}

/*.circle-one {
  position: relative;
  margin: 0 auto;
	width: 40px;
	height: 6px;
	background: #FFFFFF;
}

.circle-two {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50%);
	width: 40px;
	height: 6px;
  transform: rotate(-90deg);
	background: #FFFFFF;
}*/
